 .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-indicator .rs-picker-caret-icon{
  top: 3px;
 }
 .rs-picker-toggle{
  line-height: 16px; 
  border-radius: 4px; 
  padding: 5px !important;
}
.rs-picker-default .rs-picker-toggle.rs-btn{
  padding-top: 4px;
  padding-bottom: 4px;
}

.rs-input-group {
  border-radius: 4px;
}
.rs-input-group.rs-input-group-inside .rs-input-group-addon {
  padding: 5px 12px;
}

.rs-input {
  padding: 5px 11px;
}

.rs-btn{
  border-radius: 3px;
  line-height: 15px;
  padding: 7px 12px;
}

.rs-picker-input:focus-within, .rs-input-group:focus-within ,  .rs-input-number:focus-within, .rs-picker-toggle-active,
.rs-picker.rs-picker-focused {
  box-shadow: none !important;
}
.rs-picker-input{
  padding: 0px !important;
}
.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus,
.rs-input-group:focus-within {
  outline: 0px !important;
}
.rs-picker-input{
  padding: 0px !important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value{
  color: #2e2c2c !important;
  font-size: 12px !important;
}
.rs-picker-select-menu-item {
  font-size: 12px !important;
}

.rs-breadcrumb-item a{
  font-size: 13px;
  color: #222;
}

#itemTable p+p{
  margin-top: 0px;
}

.rs-modal-content{
  padding: 10px !important;
}
.rs-modal-header .rs-modal-header-close{
  top: 12px !important;
  right: 10px !important;
}
.rs-popover-content a{
  font-size: 12px ;
}

.rs-picker-error>.rs-picker-input-group, .rs-picker-error>.rs-picker-input-group:hover {
  border-color: rgb(235, 231, 231) !important;
}