@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb:hover{
  cursor: s-resize;
}
::-webkit-scrollbar-track {
  /* border-radius: 30px; */
  background-color: #EDF2F1;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgb(61, 61, 61); */
  background-color: #003628;
  border-radius: 30px;
}


#main {
  min-width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
}

.content__body {
  width: 100%;
  background-color: #F6F7FB;
  padding: 20px;
  overflow-y: auto;
}

.content__body__main {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgrey;
  font-size: 13px !important;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0% !important;
}

.nav__logo {
  /* box-shadow: 4px 3px #888888; */
}

.menu-link {
  @apply hover:no-underline hover:text-gray-600 hover:bg-gray-200 focus-within:no-underline;
  @apply text-[15px] flex items-center gap-2 py-2 text-gray-600 p-4;
}

/* Sidenav */
.logo__area{
  transition: 0.3s all;
}
.side__nav {
  transition: 0.3s all;
  overflow-y: auto;
}

.side__nav::-webkit-scrollbar {
  width: 5px;
}

.side__nav::-webkit-scrollbar-thumb {
  /* background-color: #fff; */
  background-color: rgb(23, 80, 23);
  border-radius: 0px;
}

.side__nav::-webkit-scrollbar-track {
  background-color: #003E32;
}

.side__nav::-webkit-scrollbar-thumb:hover {
  background-color: #44e28e;
}

.side__nav__links a {
  color: white;
  text-decoration: none;

}

.side__nav__links a:hover,
.side__nav__links:focus {
  text-decoration: none;
  /* color: white; */
  color: #003628;
  font-weight: 600;
}

.side__nav__links li {
  padding: 8px;
  font-size: 12px;
  padding-left: 15px;
  /* transition: 1s all; */
  border-radius: 10px;
}

.side__nav__links li:hover {
  /* background-color: rgb(108, 108, 193); */
  background-color: white;
  color: #003628;
}

.side__nav__links li:hover svg {
  color: #003628;
}

.side__nav__links li svg {
  /* color: rgb(167, 167, 247); */
  color: white;
  font-size: 14px;
}

.side__nav__link__group h3 {
  margin-left: 10px;
  font-size: 12px;
  color: rgb(218, 208, 208)
}


/* Breacrumb */
.rs-breadcrumb-item a {
  color: blueviolet;
  font-size: 14px;
}

.rs-breadcrumb-item a:hover,
.rs-breadcrumb-item a:focus-within {
  text-decoration: none;
}

.add__table {
  @apply w-full bg-white rounded my-6 border border-gray-200;
}

.add__table thead tr th,
.add__table thead tr td {
  @apply text-sm;
  padding: 10px;
}

input,
textarea {
  @apply w-full p-1 border border-gray-200 outline-none hover:border-[#003E32];
  @apply focus:border-[#003E32];
  line-height: 16px !important;
  border-radius: 3px
}

select {
  @apply w-full p-[4px] border border-gray-200 rounded outline-none;
}


.table-style {
  text-align: center;
  border: 1px solid #E5E7EB;
}

.table-style td,
.table-style th {
  border-right: 1px solid #E5E7EB;
  padding: 4px 5px;
  font-size: 12px !important;
  line-height: 5px;
}

.table-style thead tr th {
  padding: 2px;
}

#taxAmountTable .table-style td,
#addtionalChargeTable .table-style td {
  padding-top: 8px !important;
}

.add__table thead {
  background-color: #F6F7FB;
}

.list__icons {
  @apply flex gap-2;
  margin-top: 19px;
}

.list__icon {
  @apply bg-blue-700 rounded-full w-[30px] h-[30px] flex justify-center items-center cursor-pointer;
  @apply hover:bg-blue-800;
}

.list_buttons {
  @apply w-full lg:w-[40%] flex gap-2 items-center justify-around text-nowrap mt-4;
}

.list_buttons select {
  width: 90px;
  height: 35px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
}

.list_buttons button {
  /* box-shadow: 1px 3px rgb(80, 80, 253); */
  width: 80px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.add-table-discount-input {
  position: relative;
}

.add-table-discount-input input {
  padding-left: 33px;
}

.add-table-discount-input div {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(211, 211, 211, 0.336);
  padding: 10px;
  height: 100%;
  border-start-start-radius: 2px;
  border-end-start-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Settings .forms p {
  margin-bottom: 5px;
}


.file__uploader__div {
  @apply w-full border rounded hover:border-blue-500;
  @apply flex justify-between items-center gap-1 p-1;

}

.file__upload {
  @apply bg-blue-600 text-[18px];
}

.remove__upload {
  @apply bg-red-500;
  font-size: 12px !important;
}

.file__upload,
.remove__upload {
  @apply text-white w-[25px] h-[25px] rounded-full p-1 cursor-pointer;
  display: grid;
  place-items: center;
}

.add-bill-btn {
  @apply bg-green-500 hover:bg-green-400 text-white rounded w-[70px] ;
  @apply flex items-center justify-center gap-1 py-2;
}
.reset-bill-btn{
  @apply bg-blue-800 hover:bg-blue-700  text-white ;
  @apply rounded w-[60px] flex items-center justify-center gap-1 py-2;
}

#invoice tr td{
  border: 1px solid black;
  padding: 3px;
  color: black;
  font-size: 11px;
}

#invoice thead td{
  font-weight: bold;
}

#dashboard table th {
  color: #003628 !important;
}

.profile-switch-button{
  padding: 5px 10px ;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(0 62 50 / var(--tw-bg-opacity, 1));
  font-weight: 500;
}
.profile-switch-button-active{
  background-color: rgb(0 62 50 / var(--tw-bg-opacity, 1));
  color: white;
  font-weight: normal;
  border: none;
}